# Virtualenv
/.venv/
/venv/

.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/

/images/res/*.jpg
/eval_results/
/results/
/weights/
/annotation_json/
/config/__pycache__/
/tools/__pycache__/
/model/__pycache__/


/inference_model/
/ResNet50_vd_ssld_pretrained/
/output/



*.log
*.pdparams
*.npz
*.zip
*.pt
*.pth



